<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>
            <h3 class="topic-title">
              <%= "作品名:" + topic.title %>
            </h3>
            <p class="topic-text">
              <%= "作品内容:" + topic.description %>
            </p>
            <p class="topic-text">
              <%= "難易度:" + topic.level %>
            </p>
            <p class="topic-text">
              <%= "お気に入りのセリフ:" + topic.favorite_line %>
            </p>
            <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                <i class="fas fa-thumbs-up fa-2x favorite-icon"></i>
              <% end %>
            <% else %>
              <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
                <i class="fas fa-thumbs-up fa-2x favorite-icon-red"></i>
              <% end %>
            <% end %>
            <%= topic.favorites.count %>
            <% if !topic.unfavorite_users.include?(current_user) %>
              <%= link_to unfavorites_path(topic_id: topic.id), method: :post do %>
                <i class="fas fa-thumbs-down fa-2x favorite-icon"></i>
              <% end %>
            <% else %>
              <%= link_to unfavorites_path(topic_id: topic.id), method: :delete do %>
                <i class="fas fa-thumbs-down fa-2x favorite-icon-red"></i>
              <% end %>
            <% end %>
            <%= topic.unfavorites.count %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>